@import "tailwindcss";

:root{
    --theme-bg: #6699A1;
    --theme-text: rgb(120, 194, 196);


}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: var(--theme-bg);
    
}
